.header {
  background-color: #ffffff;
  padding: 10px 0; /* 10px padding for top & bottom */
  display: flex;
  justify-content: center;
  opacity: 80%;
}

.header__logo {
  width: 94px;
  height: 26px;
}
